<template>
  <div>
    <label class="colored-border-button">
      Select logs
      <input type="file" @change="loadTextFromFile" multiple />
    </label>
    <button v-if="filesLoaded" @click="resetFiles">×</button>
  </div>
</template>

<script>
import { parseCsv } from "@/util/s4bxi";

export default {
  data: () => ({
    filesLoaded: false,
  }),
  methods: {
    promiseFileReader(file) {
      return new Promise((resolve) => {
        var fr = new FileReader();
        fr.onload = (e) => resolve(e.target.result);
        fr.readAsText(file);
      });
    },

    loadTextFromFile(ev) {
      const rowsPromises = Array.from(ev.target.files).map((file) =>
        this.promiseFileReader(file).then(parseCsv)
      );
      this.filesLoaded = true;
      Promise.all(rowsPromises).then((rowBlocks) =>
        this.$emit("load", rowBlocks.flat())
      );
    },

    resetFiles() {
      this.filesLoaded = false;
      this.$emit("load", []);
    },
  },
};
</script>

<style scoped>
input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

button {
  display: inline-block;
  font-size: 1rem;
  line-height: 2.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #00000000;
  color: white;
  border: 2px solid red;
  padding: 0;
  transition-duration: 0.4s;
  cursor: pointer;

  margin-left: 1rem;
}

button:hover {
  background-color: red;
}
</style>
