<template>
    <svg
        :viewBox="'0 0 ' + globalWidth + ' ' + globalHeight"
        xmlns="http://www.w3.org/2000/svg"
    >
        <defs>
            <marker
                v-for="(colorValue, colorID) in operationColors"
                :key="`marker_${colorID}`"
                :id="`arrow_${colorID}`"
                viewBox="0 0 10 10"
                refX="10"
                refY="5"
                markerWidth="6"
                markerHeight="6"
                orient="auto-start-reverse"
                :fill="colorValue"
            >
                <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
        </defs>

        <g v-for="actor in actors" :key="actor.svgId">
            <rect
                :x="actorXcenter(actor) - 15"
                y="5"
                width="30"
                height="8"
                style="fill:white;stroke:black;stroke-width:0.1;fill-opacity:1;stroke-opacity:0.5"
            ></rect>
            <text
                :x="actorXcenter(actor)"
                :y="5 + 8 / 2"
                font-family="Verdana"
                font-size="3"
                fill="black"
                dominant-baseline="middle"
                text-anchor="middle"
            >
                {{ actor.nid }}
            </text>
            <line
                :x1="actorXcenter(actor)"
                :y1="5 + 8"
                :x2="actorXcenter(actor)"
                :y2="globalHeight"
                marker-end="url(#arrow)"
                style="stroke:black;stroke-width:0.2;stroke-opacity:0.5"
            />
        </g>

        <svg-operation
            v-for="(op, index) in slicedSource"
            :key="'op_' + index"
            :operation="op"
            :actors="actors"
            :min-time="minTime"
            :time-factor="timeFactor"
        />

        <text
            v-if="source.length > 1000"
            :x="globalWidth / 2"
            :y="globalHeight - 2"
            font-family="Verdana"
            font-size="3"
            fill="red"
            dominant-baseline="middle"
            text-anchor="middle"
        >
            Only showing {{ maxOperationNumber }} operations
        </text>
    </svg>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import { OperationRow, minTime, maxTime } from "@/util/s4bxi";
import {
    getActors,
    SvgActor,
    SvgDimensions,
    actorXcenter,
    actorWidth,
    topOffset,
    operationColor
} from "@/util/svg";

const SvgOperation = () => import("./SvgOperation.vue");

@Component({ components: { SvgOperation } })
export default class SequenceDiagram extends Vue {
    private operationColors = operationColor;

    @Prop({ required: true })
    private source!: OperationRow[];

    @Prop({ required: true })
    private maxOperationNumber!: number;

    @Prop({ required: true })
    private timeFactor!: number;

    get minTime(): number {
        return minTime(this.slicedSource);
    }

    get slicedSource(): OperationRow[] {
        return this.source.slice(0, this.maxOperationNumber);
    }

    get globalWidth(): number {
        return this.actors.length * actorWidth;
    }

    get globalHeight(): number {
        return (
            (maxTime(this.slicedSource) - minTime(this.slicedSource)) *
                this.timeFactor +
            topOffset +
            5
        );
    }

    get actors(): SvgActor[] {
        return getActors(this.source);
    }

    get actorsNumber(): number {
        return this.actors.length;
    }

    actorXcenter(actor: SvgActor): number {
        return actorXcenter(actor);
    }
}
</script>
