<template>
    <g>
        <text
            :x="descriptionTextX"
            :y="(arrowYend + arrowYstart) / 2 - 1.25"
            font-family="Verdana"
            font-size="1.5"
            :fill="color"
            dominant-baseline="middle"
            text-anchor="middle"
        >{{ text }}</text>
        <text
            :x="arrowXstart + 1"
            :y="arrowYstart - 0.5"
            font-family="Verdana"
            font-size="1.5"
            :fill="color"
            style="fill-opacity:0.66"
        >{{ operation.start_time }}s</text>
        <text
            :x="arrowXend + 1"
            :y="arrowYend - 0.5"
            font-family="Verdana"
            font-size="1.5"
            :fill="color"
        >{{ operation.end_time }}s</text>
        <line
            v-if="operation.initiator_nid !== operation.target_nid"
            :stroke-dasharray="dasharray"
            :x1="arrowXstart"
            :y1="arrowYstart"
            :x2="arrowXend"
            :y2="arrowYend"
            :marker-end="markerEnd"
            :style="'stroke:' + color + ';stroke-width:0.2;stroke-opacity:1'"
        />
        <path
            v-else
            :stroke-dasharray="dasharray"
            :marker-end="markerEnd"
            :d="curvePath"
            :style="'stroke:' + color + ';stroke-width:0.2;stroke-opacity:1'"
            fill="transparent"
        />
    </g>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import { OperationRow } from "@/util/s4bxi";
import {
    actorXcenter,
    getOperationColor,
    getOperationText,
    getOperationDasharray,
    SvgActor,
    topOffset
} from "@/util/svg";

@Component
export default class SequenceDiagram extends Vue {
    @Prop({ required: true })
    private operation!: OperationRow;

    @Prop({ required: true })
    private actors!: SvgActor[];

    @Prop({ required: true })
    private minTime!: number;

    @Prop({ required: true })
    private timeFactor!: number;

    actorIsLeft(actor: SvgActor): boolean {
        return actor.svgId <= this.actors.length / 2;
    }

    get curvePath(): string {
        const x = this.arrowXstart;
        const xc = this.actorIsLeft(this.originActor) ? x - 5 : x + 5;
        const y1 = this.arrowYstart;
        const y2 = this.arrowYend;
        return `M${x} ${y1} C ${xc} ${y1}, ${xc} ${y2}, ${x} ${y2}`;
    }

    get arrowXstart(): number {
        return actorXcenter(this.originActor);
    }

    get arrowXend(): number {
        return actorXcenter(this.endActor);
    }

    get arrowYstart(): number {
        return (
            topOffset +
            (this.operation.start_time - this.minTime) * this.timeFactor
        );
    }

    get arrowYend(): number {
        return (
            topOffset +
            (this.operation.end_time - this.minTime) * this.timeFactor
        );
    }

    get originActor(): SvgActor {
        return this.actors.find(
            ({ nid }) => this.operation.initiator_nid === nid
        )!;
    }

    get endActor(): SvgActor {
        return this.actors.find(
            ({ nid }) => this.operation.target_nid === nid
        )!;
    }

    get color(): string {
        return getOperationColor(this.operation);
    }

    get text(): string {
        return getOperationText(this.operation);
    }

    get dasharray(): string {
        return getOperationDasharray(this.operation);
    }

    get descriptionTextX(): number {
        if (this.arrowXstart != this.arrowXend)
            return (this.arrowXstart + this.arrowXend) / 2;

        return this.actorIsLeft(this.originActor)
            ? this.arrowXstart - 10
            : this.arrowXstart + 10;
    }

    get markerEnd(): string {
        return `url(#arrow_${this.operation.operation_type})`;
    }
}
</script>
